@model ServerSide_Project.Models.Book

@{
    ViewBag.Title = "ListBookDetails";
}


<div class="col-sm-6 col-sm-offset-2 align-center">
    <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
    <h5>
        writen by:
        @if(Model.Authors != null && Model.Authors.Any())
        {
            foreach (var author in Model.Authors)
            {
                @author.fullName;
                Write("  ");
            }
        }
        else
        {
            Write("Unknown");
        }

    </h5>
</div>