@model Service.Models.Classification

@{
    ViewBag.Title = "View";
}

<h3>Are you sure you want to delete the classification</h3>
<h2>@Html.Encode(Model.Signum)?</h2>

@using (Html.BeginForm("DeleteClassificationPost", "Classification", new { id = Model.SignId }, FormMethod.Post, new { @class = "form-group", @id = "classificationListOptions" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessage(nameof(Model.Signum), new { @class = "text-danger" })<br />
    <input type="submit" value="Delete" class="btn btn-danger" />
}