<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        #widget {
            width: 100%;
            background-color: rgb(211,211,211);
            text-align: center;
        }

        #widgetData {
            color: #000000;
            text-decoration: none;
        }

        .rowLink {
            text-align: left;
            text-decoration: none;
            color: #000000;
            border-bottom: 1px solid black;
        }

            .rowLink:hover {
                text-decoration: none !important;
            }
    </style>
</head>
<body>
    <div id="widget">
        <h1>Jönköping Libary</h1>
        <form id="searchBook" action="~/API/SEARCH">
            <input id="search" placeholder="Search books" name="search" />
            <input type="submit" />
        </form>
        <div id="widgetData"></div>
        <script>
            var baseUrl = 'https://jffaju.eu-central-1.elasticbeanstalk.com/'
                        $('#searchBook').submit(function(event) {
                            event.preventDefault();
                            var url = baseUrl + '/Api/Search?search='+ $("#search").val();
                            $.ajax({
                                crossDomain: true,
                                url: url,
                                type: 'GET',
                                dataType: 'jsonp',
                                jsonpCallback: 'callback',
								error: function(xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
                            });
                        });
                        function callback(data) {
                            $("#widgetData").empty()
                            data.forEach(function(element) {
                                $("#widgetData")
                                    .append("<div class=\"row\">")
                                        .append("<div><a class=\"rowLink\" href =\""+ baseUrl + "/Book/ListBookDetails/" + element.ISBN +"\"><b>" + element.Title + "</b></div>")
                            }, this);
                        };
        </script>
    </div>
</body>
</html>
