<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <form action="~/API/SEARCH">
            <input name="search" />
            <input type="submit" />
            <script>
                $('document').ready(function() {
                    var url = 'http://localhost:10975/Book/SEARCH?search=data';
                    $.ajax({
                        crossDomain: true,
                        url: url,
                        type: 'GET',
                        dataType: 'jsonp',
                        jsonpCallback: 'callback'
                    });
                });
                function callback(data) {
                    alert(data);
                };
            </script>
        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>