<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <form id="searchBook" action="~/API/SEARCH">
            <input id="search" name="search" />
            <input type="submit" />
        </form>
        <div id="test"></div>
        <script>
                $('#searchBook').submit(function(event) {
					event.preventDefault();
                    var url = 'http://localhost:10975/Book/SEARCH?search='+ $("#search").val();
                    $.ajax({
                        crossDomain: true,
                        url: url,
                        type: 'GET',
                        dataType: 'jsonp',
                        jsonpCallback: 'callback'
                    });
                });
                function callback(data) {
                    $("<p>Test<p>").insertAfter("#test")
                };
        </script>
    </div>
</body>
</html>