@model Service.Models.Admin

@{
    ViewBag.Title = "DeleteAdmin";
}

<div class="deleteContent">
    <h3>Are you sure you want to delete the admin</h3>
    <h2>@Html.Encode(Model.Username)?</h2>
    @using (Html.BeginForm("DeleteAdminPost", "Admin", new { id = @Model.Username }, FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.AntiForgeryToken();
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>