@model Service.Models.Book

@{
    ViewBag.Title = "DeleteBook";
}

<h2>Are you sure you want to delete this book?</h2>

@using (Html.BeginForm("DeleteBookPost", "Book", new { id = @Model.ISBN }, FormMethod.Post, new { @class = "form-group" }))
{
    @Html.AntiForgeryToken();
    <input type="submit" value="Delete" class="btn-link" />
}