
@{
    ViewBag.Title = "Home";
    ViewBag.activeBrowseBy = "Book";
}

<div class="jumbotron jumbotron-fluid Home-jumbo">
    <div class="container">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Welcome to Jönköping's libarys website</p>
    </div>
</div>

