@model List<Service.Models.Classification>
@using Service.Models

<div class="panel panel-default" id="classificationPanel">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="trigger collapsed">
                Classifications
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            @foreach (var classification in Model)
            {
                <div class="row">
                    <div class="col-sm-12 text-left">
                            <input name=classifications type="checkbox" value=@classification.SignId.ToString() id=@classification.Signum>
                            <label for=@classification.Signum>@classification.Signum</label>
                    </div>
                        @if (Session["Level"] != null && (Rank)Session["Level"] >= Rank.Admin)
                        {
                            <div class="col-sm-10 text-right">
                                @Html.ActionLink("Edit", "EditClassification", "Classification", new { id = classification.SignId }, null) |
                                @Html.ActionLink("Delete", "DeleteClassification", "Classification", new { id = classification.SignId }, null)
                            </div>
                        }
                </div>
            }
        </div>
    </div>
</div>