@model Service.Models.ListClassification
@using Service.Models

<div class="panel panel-default" id="classificationPanel">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="trigger collapsed">
                Classifications
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            @{
                //string selectedClassification = Request.Params["classifications"] ?? "";
                //var selectedId =  selectedClassification.Split(',');
                //List<int> ids = new List<int>();
                //foreach (var i in selectedId)
                //{
                //    int id=0;
                //    if(int.TryParse(i, out id))
                //    {
                //        ids.Add(id);
                //    }
                //}
                foreach (var classification in Model.Classifications)
                {
                    <div class="row">
                        <div class="col-sm-12 text-left">
                                <input name=classifications type="checkbox" value=@classification.SignId.ToString() id=@classification.Signum @Html.Raw((Model.SelectedClassification!=null && Model.SelectedClassification.Any(x => x.Equals(classification.SignId) )) ? "checked=\"checked\"" : "")/>
                                <label for=@classification.Signum>@classification.Signum</label>
                        </div>
                            @if (Session["Level"] != null && (bool)Session["classificationEditor"])
                            {
                                <div class="col-sm-10 text-right">
                                    @Html.ActionLink("Edit", "EditClassification", "Classification", new { id = classification.SignId }, null) |
                                    @Html.ActionLink("Delete", "DeleteClassification", "Classification", new { id = classification.SignId }, null)
                                </div>
                            }
                    </div>
                }
            }
        </div>
    </div>
</div>